<html>
    <head>
        <title>Privacy Policy</title>
    </head>
    <body>
        <h1>Privacy Policy</h1>
        <p>This privacy policy is for this website and governs the privacy of its users who choose to use it.</p>
        <p>The policy sets out the different areas where user privacy is concerned and outlines the obligations & requirements of the users, the website and website owners. Furthermore, the way this website processes, stores and protects user data and information will also be detailed within this policy.</p>
    </body>
</html>