<html>
<body>
    <form action="/Categories/Create" method="post">
        <div>
            <label for="category">Category Name</label>
            <input type="text" name="CategoryName"/>
        </div>
        <div>
            <input type="submit" value="Create"/>
        </div>
    </form>
</body>
</html>