@model RapidBootcamp.WebApplication.Models.Category

<html>
<head>
    <title>Detail Categories</title>
</head>
<body>
    <h1>Detail Categories</h1>
    <p>Category Id: @Model.CategoryId</p>
    <p>Category Name : @Model.CategoryName</p>
</body>
</html>